
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

canvas {
  margin: 40px;
  max-width: 500px;
  max-height: 300px;
  border: 1px solid black;
  padding: 10px;
}